/* Wish for 2016 */

.board {
    display: flex;
    width: 651px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    color: white;
    background-image: url("../image/sun.jpg");
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: block;
    width: 213px;
    height: 213px;
}

.upper.left.tile { background-position: top left; }
.upper.middle.tile { background-position: top center; }
.upper.right.tile { background-position: top right; }
.center.left.tile { background-position: center left; }
.center.middle.tile { background-position: center center; }
.center.right.tile { background-position: center right; }
.lower.left.tile { background-position: bottom left; }
.lower.middle.tile { background-position: bottom center; }
.lower.right.tile { background-position: bottom right; }

.blank.tile {
    background-image: none;
    background-color: black;
}
