/* Wish for 2016 */

.board {
    display: flex;
    width: 651px;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    background-image: url("../image/sun.jpg");
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: block;
    width: 213px;
    height: 213px;
}

.blank.tile {
    background-color: black;
}
