/* Wish for 2016 */

@import url(http://fonts.googleapis.com/css?family=Marck+Script);

body {
    font-family: 'Marck Script', cursive;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 651px;
    text-align: center;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 651px;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    color: white;
    background-image: url("../image/sun.jpg");
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: block;
    width: 213px;
    height: 213px;
}

.upper.left.tile { background-position: top left; }
.upper.middle.tile { background-position: top center; }
.upper.right.tile { background-position: top right; }
.center.left.tile { background-position: center left; }
.center.middle.tile { background-position: center center; }
.center.right.tile { background-position: center right; }
.lower.left.tile { background-position: bottom left; }
.lower.middle.tile { background-position: bottom center; }
.lower.right.tile { background-position: bottom right; }

.blank.tile {
    background-image: none;
    background-color: black;
}
